
body
{
	font-size: 16px;
}
header 
{
	background: rgb(164,164,164); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(164,164,164,1) 0%, rgba(219,219,219,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(164,164,164,1)), color-stop(100%,rgba(219,219,219,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(164,164,164,1) 0%,rgba(219,219,219,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(164,164,164,1) 0%,rgba(219,219,219,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(164,164,164,1) 0%,rgba(219,219,219,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(164,164,164,1) 0%,rgba(219,219,219,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4a4a4', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 1px 1px #F15A2B;
	color: #0B3861;
	margin: 0;
	padding: 0.5em;
	position: fixed;
	text-align: center;
	width: 100%;
}
header img, header h1
{
	display: inline-block;
	vertical-align: top;
}
header h1
{
	font-size: 2em;
	font-family: 'Play', sans-serif;
	/*font-family: 'Poiret One', cursive;
	font-family: 'Sansita One';*/
	font-weight: normal;
	margin: 1rem 0 0 0;
	padding: 0 0.5em 0 0.5em;
	text-shadow: rgb(204, 204, 204) 0px 1px 0px, rgb(201, 201, 201) 0px 2px 0px, rgb(187, 187, 187) 0px 3px 0px, rgb(185, 185, 185) 0px 4px 0px, rgb(170, 170, 170) 0px 5px 0px, rgba(0, 0, 0, 0.0980392) 0px 6px 1px, rgba(0, 0, 0, 0.0980392) 0px 0px 5px, rgba(0, 0, 0, 0.298039) 0px 1px 3px, rgba(0, 0, 0, 0.14902) 0px 3px 5px, rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.2) 0px 10px 10px, rgba(0, 0, 0, 0.0980392) 0px 20px 20px;
	width: 60%;
}
header #logo1 {
	width: 80px;
}
header #logo2 {
	width: 80px;
}
nav
{
	background: #0B3861;
	height: 110px;
}
nav ul 
{
	list-style: none;
	margin: 0;
	padding-top: 100px;
	text-align: right;
}
nav ul li
{
	display: inline-block;
	margin: 0;
	padding: 0.3em 0.3em;
	vertical-align: top;
}
nav ul li a
{
	color: #F15A2B;
	font-family: 'Noto Sans';
	display: block;
	padding: 0.5em 0.5em 0.5em 0.5em;
	text-decoration: none;
}
nav ul li a:hover
{
	background: #F15A2B;
	border-radius: 3px;
	color: #0B3861;
}
section
{
	background: #0B3861;
	width: 100%;

}


section article h2
{
	margin: 0;
	text-align: center;
	color: #FFBF00;
	font-size: 2em;
	font-family: 'Noto Sans', sans-serif;
	width: 45%;
}
section article ul, section article figure 
{
	display: inline-block;

}
section article ul
{
	list-style: none;
	color: #D8D8D8;
	font-family: 'Noto Sans', sans-serif;
	line-height: 2.5em;
	width: 20%;
	padding-left: 10%;
}
#boton_contacto
{
	color: #0B3861;
	background: #F15A2B;
	border-radius: 0.2em;
	font-family: 'Noto Sans', sans-serif;
	padding: 0.5em 1em 0.5em 1em;
 	text-decoration: none;	
	transition-property: all;
	transition-duration: 800ms;
	transition-delay: 0s;
	transition-timing-function: ease;
	margin: 1em 0 1em 0;
}
#boton_contacto:hover
{
	background: #FFBF00;
}
section article figure
{
		width: 55%;

}
section article figure img
{
	width: 100%;
}
div article figure a
{
	color: #FF4000;
	display: inline-block;
	font-family: 'Noto Sans', sans-serif;
	margin: 1em 10% 0 10%;
	text-decoration: none;

}
form input 
{
	border:none;
	border-radius: 3px;
	color: #0B3861;
	height: 35px;
	padding: 0 0 0 0.5em;
	width: 260px;
}
footer 
{
	background: #F15A2B;
	color: #0B3861;
	font-family: 'Noto Sans', sans-serif;
	font-size: 0.8em;
	height: 30px;	
	text-align: center;
}
footer p 
{
	margin: 0;
	padding: 0.4em 0 0.2em 0;
}


.fotos_1
{
	width: 100px;
	border-radius: 50%;
	border: solid 1px;
	transition-property: all;
	transition-duration: 1000ms;
	transition-delay: 0s;
	transition-timing-function: ease;
}
.fotos_1:hover
{
	border-radius: 0;
}
/*.item
{
	background: red;	
	width: 50%;
}*/

#contenido
{
	border: 1px solid #0B3861;
}
#fotos
{
	background: #fff;
	border: 15px solid #0B3861;	
	height: 100%;
	margin: 0;
	padding: 0 0 1em 0;
	text-align: center;
}
#marcas
{
	background: #BDBDBD;
	color: #fff;
	font-family: 'Noto Sans', sans-serif;
	height: 300px;
}
#redes
{
	background: #0B3861;
	color: #fff;
	font-family: 'Noto Sans', sans-serif;
	height: 100px;
}
#submit
{
	background: #F15A2B;
	border: none;
	height: 35px;
	margin: 0 0 0 1em; 
	padding: 0 0 0 0em;
	-webkit-transition-property: all;
	-webkit-transition-duration: 1000ms;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	width: 100px;
}
#submit:hover
{
	background: #FFBF00;
}
#suscripcion
{
	background: #0B3861;
	font-family: 'Noto Sans', sans-serif;
	height: 100px;
	text-align: center;
	padding: 3em 0 0 0;
}
#suscripcion form label
{
	color: #FFBF00;
	font-size: 1.2em;
	padding: 0 0.5em 0 0;
}
@media screen and (max-width: 480px) {
	header {
		position: relative;
		font-size: 0.63em;
		} 
	header #logo2{
		display: none;
	}
	nav
	{
		display: none;
	}
	#contenido article h2{
		margin: auto 0;
		text-align: center;
		font-size: 1.2em;
		width: 100%;
		padding: 0.5em 0;
	}
	#contenido article ul li{
		font-size: 1em;
		line-height: 1.7em;
	 	text-align: center;
	}

	#contenido article ul{
		padding-left: 0px;
		width: 100%;
	}

	#boton_contacto{
		display: block;
		margin: 0em 3em;
		text-align: center;
		font-size: 1.5em;
		padding: 0;
	}
	section article figure {
		width: 100%;
		margin: 0 auto;

	}
	#suscripcion{
		padding: 0.5em 0;
	}
	div form input {
			
		margin-bottom: 0.4em;
	}

}